
.column1{
  float: left;
  width: 42.33%;
  padding: 20px;
}

.column2{
  float: right;
  width: 45.33%;
  padding: 20px;
  padding-right: 3rem;
}

.column1 p{
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
}

.column2 p{
  font-size: 2rem;
  font-weight: bold;
  text-align: justify;
}

body{
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.column1 h1{
  font-size: 3rem;
  font-weight: bolder;
}

.column1{
  color: rgb(171, 183, 194);
}

.column2{
  color: rgb(171, 183, 194);
}

.row::after{
  content: "";
  clear:both;
  display: table;
}

@media screen and (max-width:768px){
  .column{
      width: 100%;
  }
}



